@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/* -- SCROLLBAR --*/

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--ges-lighteen-gray);
    background-color: var(--ges-lighteen-gray);
}

::-webkit-scrollbar-thumb {
    background: var(--ges-gray);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ges-dark-gray);
}