.bg-login {
    min-width: 450px;
    /* background: var(--gradient-secondary); */
    border-radius: 16px 0 0 16px;
    box-shadow: var(--shadow-3);
}

.bg-login::after {
    content: 'Malangas';
    font-size: 30px;
    color: #5a4441;
    font-weight: 700;
    position: relative;
    top: calc( 100% - 100px);
    left: calc( 100% - 180px);
}

.form-title--login {
    text-align: left;
}